// Place all the styles related to the matches/game_boards/spacecrafts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table{
  margin: 0 auto;
  background-repeat: no-repeat;
  position: relative;

  td {
    border: 1px solid yellow; 
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
}

img{
  z-index: 99;
}

#my-plays img, 
#challenger-plays img{
  z-index: 999;
}

.spacecraft-for-position img{
  margin-bottom: 30px;
}

#my-plays, #challenger-plays{
  height: 5px;
}

#drop-bomb-form{
  text-align: center;

  strong{
    background: blue;
    color: yellow;
    padding: 10px;
    border-radius: 10px;
  }
}

.board-game{
  width: 90%;
  margin: 0 auto;
  margin-top: 25px;
}

.background{
  background-repeat: no-repeat;
  background-size: cover;
}