@import "colors";

.high-text, %high-text{
  color: black;
  text-shadow: 1px 0 yellow, -1px 0 yellow, 0 1px yellow, 0 -1px yellow;
}

.capsule, %capsule{
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  padding: 10px;
}

@font-face {
  font-family: 'starjedi';
  src: asset_url('Starjedi.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'STJEDISE';
  src: asset_url('STJEDISE.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  color: $font-color;
  font-family: 'STJEDISE';
  letter-spacing: 2px;
}

input[type="text"], input[type="email"], select{
  font-family: initial;
  color: initial;
  text-shadow: initial;
}

body{
  height: 100vh;
  background: #6d6f64;
  background-image: asset_url('background-default.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.js-clickeble{
  cursor: pointer;

  &:hover{
    box-shadow: 2px 0 blue, -2px 0 blue, 0 2px 20px blue, 0 -2px blue;
  }
}

#navbarPlayerDropdown {
  color: $menu-item-font-color;
}

form{
  margin: 0 auto;
}

.scenery-info{
  color: yellow;
  font-size: 1.3rem;
}

.capsule-scroll{
	@extend %capsule;
	overflow: auto;
	height: 60vh;
	width: 80%;
}

.players-awaiting-home{
	margin-top: 10%;

	hr {
		opacity: 0.3;
		background-color: yellow;
	}
}