@import "colors";

.high-text, %high-text{
  color: black;
  text-shadow: 1px 0 yellow, -1px 0 yellow, 0 1px yellow, 0 -1px yellow;
}

.capsule, %capsule{
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 1px 0 white, -1px 0 white, 0 1px 5px white, 0 -1px white;
}

@font-face {
  font-family: 'starjedi';
  src: asset_url('Starjedi.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'STJEDISE';
  src: asset_url('STJEDISE.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  color: $font-color;
  font-family: 'STJEDISE';
  letter-spacing: 2px;
}

input[type="text"], input[type="email"], select{
  font-family: initial;
  color: initial;
  text-shadow: initial;
}

body{
	height: 100vh;
	background: no-repeat center center fixed;
  background-image: asset_url('bg-area.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2{
	margin: 1.5rem 0;
}

.js-clickeble{
  cursor: pointer;

  &:hover{
    box-shadow: 2px 0 blue, -2px 0 blue, 0 2px 20px blue, 0 -2px blue;
  }
}

.info-player{
  dt{ color: white; }
  dd { color: yellow; letter-spacing: 2px; }
}

#navbarPlayerDropdown {
  color: $menu-item-font-color;
}

form{
  margin: 0 auto;
}

label, em, .data{
	color: yellow;
	text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 1px black;
}

.scenery-info{
  color: yellow;
  font-size: 1.3rem;
}

.capsule-scroll{
	@extend %capsule;
	overflow: auto;
	height: 70vh;
	width: 100%;
	overflow-x: hidden;
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: none;
}

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

//background-color: rgba(52, 58, 64, 0.2);

header .navbar{
	background-color: rgba(52, 58, 64, 0.4) !important;
}

.players-awaiting-home{
	margin-top: 15%;

	.capsule{
		width: 50%;
	}

	hr {
		opacity: 0.3;
		background-color: yellow;
	}
}

.scenery hr{
	background: yellow;
	opacity: 0.2;
}

.player-statistic{
	margin: 0 auto;

	label { color: white; font-size: 0.8rem; margin-right: 15px;}
	.field { display: flex; align-items: baseline; }
}

.modal-content{
	background: no-repeat center center fixed;
  background-image: asset_url('bg-storm.jpg');
  background-repeat: no-repeat;
  box-shadow: 1px 0 white, -1px 0 white, 0 1px 25px white, 0 -1px white;
  height: 240px;
}

.modal-backdrop{
	opacity: 0.8;
}

.home-container {	flex-wrap: nowrap; }

@media (max-width: 992px){
	.players-awaiting-home .capsule{ width: 100%; }
	h1 { font-size: 2rem; }
	.home-container {	flex-wrap: wrap-reverse; }
}

@media (max-width: 576px){
	.navbar-brand{ font-size: 0.8rem; }
	.capsule { width: 90%; margin: 0 auto; }
}