<h1>Batalha Intergalálica</h1>

<div class="list">
  <% @awaiting_challenge.each do |match| %>
    <%= link_to '#' do %>
      <div class="item">
        <%= image_tag match.player_avatar_url %>
        <div class="content">
          Jogador: <%= match.player_nickname %><br>
          Time: <%= match.player_team_name %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
