@import "bootstrap";
@import "base/colors";
@import "matches/game_boards/*";
@import "jquery-ui.min";

body {
  color: $font-color;
}

footer {
  margin-top: 50px;
}

#navbarPlayerDropdown {
  color: $menu-item-font-color;
}


